* {
    margin: 0;
    padding: 0;
}
.nav {
    height: 60px;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

    & .menu-btn i {
        font-size: 1.3rem;
        color: white;
        cursor: pointer;
        display: none;
    }

    &__logo {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }   
    & ul {
        display: flex;
        text-decoration: none;
        list-style: none;

        & li {
            margin: 0 5px;
            & a {
                color: #fff;
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: .05rem;
                text-decoration: none;
                transition: .3s all ease;
                padding: 8px 10px;
                border-radius: 10px;
    
                &.active, 
                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
        }

    }

}



@media (max-width: 940px) {
    .nav{
        & .menu-btn i {
            display: block;
        }

        & ul {
            position: fixed;
            display: block;
            top: 60px;
            left: -100%;
            background-color: rgb(28, 28, 28);
            min-height: 100vh;
            width: 100%;
            text-align: center;
            transition: .8s all ease;

            & li {
                margin: 40px 0;
                & a {
                    font-size: 2rem;


                    &.active, 
                    &:hover {
                        background: none;
                        color: cyan;
                    }
                }
            }
        }
    }
}