
#main {
    margin: 10rem;
}

.tab {
    overflow: hidden;
    text-align: center;

}

.tab button {
    background: inherit;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    transition: .3s all ease;
    color: #000;
}

.tab button[tab-open="true"] {
    background: rgb(255, 187, 0);
    color: black;
}

.tab button:hover {
    background: rgb(255, 187, 0);
    color: #000;
}

.tab button:active {
    background: rgb(0, 255, 213);
    outline: none;
    border: none;
}

/* Now its time for tab content  */
.tabcontent {
    padding: 10px;
    border-radius: 1rem;
    border: 2px solid black;
    margin: 10rem;
    overflow: hidden;
}

.tabcontent h1 {
    font-size: 2rem;
}
.tabcontent p {
    font-size: 1.4rem;
}

.tabcontent button {
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    outline :none;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px gray;
    background: rgb(255, 187, 0);
    float: right;
    cursor: pointer;
    transition: .3s all ease;
    letter-spacing: .03rem;
    text-transform: uppercase;
}

.tabcontent button:hover {
    background: rgb(66, 56, 27);
    color: white;
}
