<div class="card-container">
    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>

    <div class="card-box">
        <h3>NAME</h3>
        <h3>Price</h3>
        <h3>Rating</h3>
    </div>
</div>