<nav class="nav" id="nav">
    <div class="nav__logo">
        F**You
    </div>
    <div id="search-box">
        <input class="nav-search" name="navSearch" type="text" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>
</nav>