.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.849);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &-box {
        background-color: rgba(237, 247, 248, 0.993);
        border-radius: 8px;
        width: 650px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        & .popup-close-btn {
            font-size: 2rem;
            color: #1a4c82;
            cursor: pointer;
        }

        & &-content {
            & > h1 {
                color: #1a4c82;
                font-weight: 400;
                padding-bottom: 10px;
            }

            & #popup-contact-form {
                input, 
                label {
                    font-size: 1.2rem;
                    padding: 5px;
                }
                .field {
                    margin: 10px 5px 10px 10px;
                    color: #1a4c82;
                    input {
                        width: 80%;
                        outline-color: #1a4c82;
                        border-radius: 4px;
                    }
                    textarea {  
                        font-size: 1.2rem;
                        outline-color: #1a4c82;
                        padding: 5px;
                        margin: 10px 5px 10px 32px;
                        width: 80%;
                        height: 100px;
                        resize: none;
                    }
                }
                & .row-1 {
                    display: flex;
                    color: #1a4c82;
                }

                & .submit-btn {
                    text-align: center;
                    & > button {
                        font-size: 1.2rem;
                        padding: 10px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        width: 20%;
                        background-color: #1a4c82;
                        color: white;
                        transition: .3s all ease;
                        &:hover {
                            background-color: #00a5ef;
                        }
                    }
                } 
            }
        }
    }
}



